/*GENERALI*/
#main, .container, BODY, P, UL, LI
{
	font-family: "Trebuchet MS";
	font-size: 15px;
	margin: 0;
	padding: 0;
}
A:visited
{
	color: inherit;
}
#main
{
	background-color: #FFF;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
FIELDSET
{
	border: 0;
	padding: 0;
	margin: 0;
}
/*HEADER*/
#header
{
	width: 100%;
	min-height: 0;
	background-color: #0055A4;
	position: relative;
	padding-bottom: 0;
}
#logo
{
	width: auto;
	color: #000;
	text-align: center;
	float: left;
	height: 36px;
	margin-left: 20px;
	margin-right: 20px;
}
#logo H1
{
	font-size: 29px;
	color: #FFF;
	border: 0 solid #000;
	margin: 0;
	padding: 0;
}
#logo H1 A
{
	text-decoration: none;
	color: #FFF;
}
#login
{
	float: right;
	background-color: #D7EBFF;
	font-size: 10pt;
	display: none;
	padding: 10px;
	position: fixed;
	border-radius: 5px;
	border: 1px solid #0055A4;
	top: 36px;
	right: 15px;
}
#mainmenu
{
	height: 36px;
	display: block;
}
#mainmenu UL
{
	height: 36px;
	float: left;
	margin: 0;
	padding: 0;
}
#mainmenu UL#loginmenu
{
	height: 36px;
	float: right;
	margin: 0;
	padding: 0;
}
#mainmenu UL#controlpanelmenu
{
	height: 36px;
	float: right;
	margin: 0;
	padding: 0;
}
#mainmenu LI
{
	list-style: none;
	float: left;
	margin-right: 14px;
	padding: 9px 0;
}
#mainmenu LI#loginmenuli
{
	margin-right: 0;
}
#mainmenu UL LI SPAN.welcome
{
	margin-left: 10px;
	border: 1px solid #014A93;
	background-color: #D7EBFF;
	border-radius: 4px;
	padding: 6px;
}
#mainmenu UL LI A
{
	color: #FFF;
	text-decoration: none;
	font-size: 15px;
	padding: 9px 6px;
}
#mainmenu UL LI A:hover
{
	color: #FFF;
	background-color: #004F9F;
}
#mainmenu UL LI A:visited
{
	color: #FFF;
}
#mainmenu UL LI A.loginlink
{
	color: #000;
	background-color: #D7EBFF;
	border-radius: 4px;
	padding: 5px 9px;
}
#mainmenu UL LI A.loginlink:hover, .documentTable TR:nth-child(even)
{
	background-color: #FFF;
}
#mainmenu UL LI.newdocumentli
{
	margin-top: 3px;
	padding: 5px 0;
}
#mainmenu UL LI A.newdocument
{
	background-color: #1A70C0;
	border-radius: 4px;
	padding: 5px 9px;
}
#mainmenu UL LI A.newdocument:hover
{
	background-color: #1A70C0;
}
#controlpanelmenu UL
{
	display: none;
}
/*Hide before plugin loads*/
#controlpanelmenu UL.dropit-submenu
{
	background-color: #D7EBFF;
	border: 1px solid #0055A4;
	padding: 0;
	/*-webkit-border-radius: 3px;
-moz-border-radius: 3px;*/
	border-radius: 3px;
	/*-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);*/
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	z-index: 999;
	position: relative;
	list-style-type: none;
	position: absolute;
	top: 35px;
	right: 0;
	height: auto;
}
#controlpanelmenu UL.dropit-submenu LI
{
	height: 35px;
	width: 100%;
	float: left;
	clear: both;
	padding: 0;
	margin: 0;
}
#controlpanelmenu UL.dropit-submenu LI:before
{
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	margin: 0px;
	background: #0055A4;
}
#controlpanelmenu UL.dropit-submenu LI:first-child:before
{
	content: "";
	display: block;
	height: 0px;
	width: 0px;
	margin: 0px;
	background: #0055A4;
}
#controlpanelmenu UL.dropit-submenu A
{
	display: block;
	font-size: 14px;
	line-height: 25px;
	color: #7A868E;
	padding: 0;
}
#controlpanelmenu UL.dropit-submenu A:hover
{
	background: #A3D3FF;
	color: #FFF;
	text-decoration: none;
}
#mainmenu UL#controlpanelmenu LI.top
{
	margin: 0;
	padding: 0;
	height: 36px;
}
#mainmenu UL#controlpanelmenu LI.top A
{
	color: #000;
	border-radius: 4px;
	padding: 5px 9px;
}
#mainmenu UL LI A:hover
{
	background-color: transparent;
}
#controlpanelmenu LI A SPAN.notificationnumber
{
	border: 0;
	border-radius: 999px;
	padding: 2px 6px;
	background-color: #FF0000;
	opacity: 0.8;
	font-size: 12px;
	color: #FFF;
	font-family: helvetica;
	font-weight: bold;
}
#controlpanelmenuinner LI SPAN.ui-icon
{
	margin-top: 3px;
	margin-right: 5px;
}
/*Hide before plugin loads*/
#openmenu UL.dropit-submenu
{
	background-color: #D7EBFF;
	border: 1px solid #0055A4;
	padding: 0;
	/*-webkit-border-radius: 3px;
-moz-border-radius: 3px;*/
	border-radius: 3px;
	/*-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);*/
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	z-index: 999;
	position: relative;
	list-style-type: none;
	position: absolute;
	top: 35px;
	left: 240px;
	height: auto;
}
#openmenu LI:first-child
{
	margin-left: 5px;
	margin-top: 7px;
}
#openmenu UL.dropit-submenu LI
{
	height: 36px;
	width: 100px;
	float: left;
	clear: both;
	padding: 0;
	margin: 0;
}
#openmenu UL.dropit-submenu LI:before
{
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	margin: 0px;
	background: #0055A4;
}
#openmenu UL.dropit-submenu LI:first-child:before
{
	content: "";
	display: block;
	height: 0px;
	width: 0px;
	margin: 0px;
	background: #0055A4;
}
#openmenu UL.dropit-submenu A
{
	display: block;
	font-size: 14px;
	line-height: 25px;
	color: #000 !important;
	background: #D7EBFF;
	padding: 5px 10px;
}
#openmenu UL.dropit-submenu A:visited
{
	color: #000;
}
#openmenu UL.dropit-submenu A:hover
{
	background: #A3D3FF;
	text-decoration: none;
}
#openmenu UL.dropit-submenu A.newdocument
{
	border-radius: 0 !important;
}
#openmenu UL.dropit-submenu A.newdocument:hover
{
	color: #FFF !important;
}
/*CONTENUTI*/
#contents
{
	padding: 20px;
	overflow: hidden;
	float: left;
}
#contents.homecontents
{
	width: 74.9%;
	float: left;
	padding: 0;
}
#contents.fullwidth
{
	float: none;
}
/*Titoli*/
H1.title
{
	font-weight: normal;
	font-size: 28px;
	font-variant: normal;
	margin-bottom: 15px;
	margin-top: 20px;
	color: #0055A4;
	border-bottom: 1px dashed #DDDDDD;
	padding-bottom: 4px;
	font-style: normal;
	text-decoration: none;
}
.hometitle
{
	padding: 20px 0 0;
	margin-left: 24px;
	margin-right: 20px;
}
H2
{
	font-weight: normal;
	font-size: 20px;
	font-variant: normal;
	margin-bottom: 15px;
	margin-top: 20px;
	color: #015CB0;
	padding-bottom: 4px;
	font-style: normal;
	text-decoration: none;
}
/*Classe che nasconde*/
.hidden
{
	display: none;
}
/*Avvisi ed errori*/
.confirmation
{
	margin: 10px;
	border: 1px solid #30A13C;
	border-radius: 10px;
	padding: 20px;
	background-color: #17EC85;
	display: inline-block;
	clear: both;
	background-image: url("images/confirmation.png");
	background-repeat: no-repeat;
	padding-left: 66px;
	background-position: 7px 4px;
}
.warning
{
	margin: 10px;
	border: 1px solid #FF0000;
	border-radius: 10px;
	padding: 20px;
	background-color: #FFD9E2;
	display: inline-block;
	clear: both;
	background-image: url("images/warning.png");
	background-repeat: no-repeat;
	padding-left: 66px;
	background-position: 7px 7px;
}
/*Footer*/
#footer
{
	background-color: #E6E3E3;
	clear: both;
	width: 100%;
	height: 80px;
	font-weight: 100;
	font-size: 13px;
	text-align: center;
}
#footer P#valid
{
	width: 150px;
	display: inline-block;
}
#footer P#copyright
{
	margin-top: 4px;
}
#footer P#w3c
{
	margin-top: -10px;
}
P
{
	padding: 10px 5px;
}
#textcontainer
{
	display: block;
	float: left;
	padding: 20px;
}
/*VISTA DOCUMENTI*/
.comparison
{
	min-width: 45%;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
#documentmenu
{
	list-style: none;
	position: absolute;
	top: 70px;
	right: 20px;
	margin: 0;
	/*[disabled]padding:0;*/
	height: 18px;
	width: 50px;
}
#documentmenu A
{
	text-decoration: none;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
}
#documentmenu.dropit LI.dropit-trigger A:first-child
{
	padding: 8px 10px;
	margin: 0 0 0 -11px;
}
#documentmenu.dropit LI.dropit-trigger UL.dropit-submenu LI A
{
	margin: 0;
	padding: 0;
}
#documentmenu LI UL.dropit-submenu
{
	list-style: none;
	width: 80px;
	margin: 8px auto 0 -15px;
	padding: 0;
}
#documentmenu LI UL.dropit-submenu LI
{
	width: 78px;
	height: 24px;
	float: left;
	clear: both;
	padding: 8px 0px 0 0;
	margin: 0 0 -1px;
	border: 1px solid #0074DF;
	background: #D7EBFF;
	font-size: 13.3px;
	/*[disabled]line-height:1.4;*/
}
#documentmenu LI UL.dropit-submenu LI:hover
{
	background: #A3D3FF;
}
#documentmenu LI UL.dropit-submenu LI A
{
	color: #000000;
	font-size: 13.3px;
}
#documentmenu LI UL.dropit-submenu LI SPAN.text
{
	margin-left: 1px;
}
.text, .ui-icon
{
	display: inline-block;
	float: left;
}
.text
{
	height: 23px;
	width: 58px;
	padding-top: 9px;
	margin-top: -8px;
}
.field
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 200px;
	padding-right: 5px;
	min-height: 30px;
	border: 1px solid #DDD;
	margin-bottom: -1px;
	line-height: 30px;
	text-align: justify;
	word-break: break-all;
	word-wrap: break-word;
}
.label
{
	display: block;
	float: left;
	text-align: right;
	min-height: 30px;
	min-width: 180px;
	margin-right: 10px;
	font-size: 18px;
	font-weight: 700;
	background-color: #D1E6FF;
	padding-right: 5px;
	padding-right: 5px;
	position: relative;
	top: 0px;
	left: 0px;
	margin-left: -195px;
}
A.edit
{
}
.visibilityLabel
{
	margin-left: 6.1em;
	margin-right: 1em;
}
.typeLabel
{
	margin-left: 1.6em;
	margin-right: 1em;
}
.tags
{
	width: 209px;
}
DIV.Tokenize UL.TokensContainer, DIV.Tokenize UL.Dropdown
{
	border-radius: 4px;
}
.tag
{
	border: 1px solid #CCD5E3;
	background-color: #EFF2F7;
	margin-right: 4px;
	line-height: 18px;
	padding: 0 5px;
}
.tagLabel
{
	margin-top: -30px !important;
}
.tags .TokensContainer .TokenSearch INPUT
{
	border: 0;
	outline: 0;
	box-shadow: none;
	border-radius: 0;
}
.editControls
{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	min-width: 30px;
	height: 35px;
	clear: both;
}
.modified_by
{
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	display: block;
	float: left;
}
.acceptedit
{
	display: block;
	float: left;
	margin-left: 20px;
}
.refuseedit
{
	display: block;
	float: left;
	margin-left: 20px;
}
/*Paginazione*/
.paginationwrapper
{
	width: 100%;
	text-align: center;
	clear: both;
}
.pagination
{
	display: inline-block;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	width: 204px;
	clear: both;
}
.pagination A
{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	outline: 0;
	border-right: 1px solid #CDCDCD;
	border-left: 1px solid #CDCDCD;
	color: #555;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	background-color: #F3F3F3;
	background-image: linear-gradient(#f3f3f3,lightgrey);
}
.pagination A:active, .pagination A:focus, .pagination A:hover
{
	background-color: #CECECE;
	background-image: linear-gradient(#e4e4e4,#cecece);
}
.pagination A.disabled, .pagination A.disabled:active, .pagination A.disabled:focus, .pagination A.disabled:hover
{
	background-color: #F3F3F3;
	background-image: linear-gradient(#f3f3f3,lightgrey);
	color: #A8A8A8;
	cursor: default;
}
.pagination A:first-child
{
	border: none;
	border-radius: 2px 0 0 2px;
}
.pagination A:last-child
{
	border: none;
	border-radius: 0 2px 2px 0;
}
.pagination INPUT
{
	font-size: 13px;
	float: left;
	width: 120px;
	height: 20px;
	outline: 0;
	border: none;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 0 !important;
}
/*TABELLE DOCUMENTI
Controlli tabelle*/
.controls
{
	margin-left: 0px;
	margin-bottom: 15px;
	padding: 0;
}
/*Generali*/
.documentTable
{
	border: 1px solid #B5B5B5;
	padding: 0;
}
.documentTable TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.documentTable TR:nth-child(odd)
{
	background-color: #D7EBFF;
}
.documentTable TD
{
	vertical-align: middle;
	border: 1px solid #B5B5B5;
	text-align: left;
	font-size: 15px;
	font-family: "Trebuchet MS";
	font-weight: 400;
	color: #000;
	border-width: 0 1px 1px 0;
	padding: 7px;
}
.documentTable TR:last-child TD
{
	border-width: 0 1px 0 0;
}
.documentTable TR:last-child TD:last-child
{
	border-width: 0;
}
.documentTable TR:first-child TD
{
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0055A4",endColorstr="#0055A4");*/
	background: #0055A4 0;
	border: 0 solid #B5B5B5;
	text-align: center;
	font-size: 16px;
	font-family: "Trebuchet MS";
	font-weight: 700;
	color: #FFF;
	border-width: 0 0 1px 1px;
}
.documentTable TR:first-child:hover TD
{
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0055A4",endColorstr="#0055A4");*/
	background: #0055A4 0;
}
.documentTable TR:first-child TD:last-child
{
	border-width: 0 0 1px 1px;
}
.documentTable TR TD:last-child, .documentTable TR:first-child TD:first-child
{
	border-width: 0 0 1px;
}
#userTable TR TD:last-child
{
	text-align: center;
}
/*HOME PAGE*/
.homeWidget H2
{
	margin: 0 0 10px;
	margin-right: 20px;
}
.homeWidget
{
	display: block;
	height: auto;
	margin-bottom: 24px;
	border: 0;
	padding: 0 20px;
}
.sidebar
{
	display: block;
	float: right;
	border-left: 1px dashed #D2D2D2;
	/*padding-left: 15px;
padding-right: 15px;*/
	margin-top: 20px;
	padding-top: 20px;
	width: 25%;
}
.sidebar H1
{
	/*padding: 5px;*/
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
}
.widgetTable
{
	height: auto !important;
}
.widgetTable TR
{
	height: 32px !important;
	border-left: 1px solid #B5B5B5 !important;
	border-right: 1px solid #B5B5B5 !important;
}
.widgetTable TR:last-child
{
	border-bottom: 1px solid #B5B5B5 !important;
}
.widgetTable TR TD:last-child
{
	text-align: center;
}
.widgetTable TR.tableHeader TD
{
	height: 32px !important;
	padding: 0 0 0 0px !important;
}
.general LEGEND
{
	margin-left: 0;
	font-weight: bold;
}
.info LEGEND
{
	margin-left: 0;
	padding-left: 10px;
	padding-top: 20px;
	font-weight: bold;
}
#textcontainer P
{
	text-align: justify;
}
/*FORM E BOTTONI*/
.button
{
	display: inline-block;
	display: inline;
	/*zoom: 1;*/
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	/*-webkit-user-drag: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;*/
}
.button::-moz-focus-inner
{
	padding: 0;
	border: 0;
}
.button
{
	font-family: inherit;
	font-size: 100%;
	font-size: 90%;
	overflow: visible;
	padding: 0.5em 1em;
	color: #444;
	color: rgba(0, 0, 0, 0.8);
	color: #444;
	border: 1px solid #999;
	border: 0 rgba(0, 0, 0, 0);
	background-color: #E6E6E6;
	text-decoration: none;
	border-radius: 2px;
}
.button-hover, .button:hover, .button:focus
{
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
*/
	background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}
.button:focus
{
	outline: 0;
}
.button-active, .button:active
{
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 6px rgba(0, 0, 0, 0.2);
}
.button[disabled], .button-disabled, .button-disabled:hover, .button-disabled:focus, .button-disabled:active
{
	border: 0;
	background-image: none;
	/*filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
filter: alpha(opacity=40);
-khtml-opacity: .4;
-moz-opacity: .4;*/
	opacity: .4;
	cursor: not-allowed;
	box-shadow: none;
}
.button-hidden
{
	display: none;
}
.button::-moz-focus-inner
{
	padding: 0;
	border: 0;
}
.button-primary, .button-selected, A.button-primary, A.button-selected
{
	background-color: #0078E7;
	color: #FFF;
}
INPUT[type=text], INPUT[type=password], INPUT[type=email], INPUT[type=url], INPUT[type=date], INPUT[type=month], INPUT[type=time], INPUT[type=datetime], INPUT[type=datetime-local], INPUT[type=week], INPUT[type=number], INPUT[type=search], INPUT[type=tel], INPUT[type=color], SELECT, TEXTAREA
{
	padding: 0.5em 0.6em;
	display: inline-block;
	border: 1px solid #CCC;
	box-shadow: inset 0 1px 3px #DDD;
	border-radius: 4px;
	/*-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
*/
	box-sizing: border-box;
}
INPUT:not([type])
{
	padding: 0.5em 0.6em;
	display: inline-block;
	border: 1px solid #CCC;
	box-shadow: inset 0 1px 3px #DDD;
	border-radius: 4px;
	/*-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
*/
	box-sizing: border-box;
}
INPUT[type=color]
{
	padding: 0.2em 0.5em;
}
INPUT[type=text]:focus, INPUT[type=password]:focus, INPUT[type=email]:focus, INPUT[type=url]:focus, INPUT[type=date]:focus, INPUT[type=month]:focus, INPUT[type=time]:focus, INPUT[type=datetime]:focus, INPUT[type=datetime-local]:focus, INPUT[type=week]:focus, INPUT[type=number]:focus, INPUT[type=search]:focus, INPUT[type=tel]:focus, INPUT[type=color]:focus, SELECT:focus, TEXTAREA:focus
{
	outline: 0;
	outline: thin dotted;
	border-color: #129FEA;
}
INPUT:not([type]):focus
{
	outline: 0;
	outline: thin dotted;
	border-color: #129FEA;
}
INPUT[type=file]:focus, INPUT[type=radio]:focus, INPUT[type=checkbox]:focus
{
	outline: thin dotted #333;
	/*outline: 1px auto #129FEA;*/
}
.checkbox, .radio
{
	margin: 0.5em 0px !important;
	width: auto !important;
}
INPUT[type=text][disabled], INPUT[type=password][disabled], INPUT[type=email][disabled], INPUT[type=url][disabled], INPUT[type=date][disabled], INPUT[type=month][disabled], INPUT[type=time][disabled], INPUT[type=datetime][disabled], INPUT[type=datetime-local][disabled], INPUT[type=week][disabled], INPUT[type=number][disabled], INPUT[type=search][disabled], INPUT[type=tel][disabled], INPUT[type=color][disabled], SELECT[disabled], TEXTAREA[disabled]
{
	cursor: not-allowed;
	background-color: #EAEDED;
	color: #CAD2D3;
}
INPUT:not([type])[disabled]
{
	cursor: not-allowed;
	background-color: #EAEDED;
	color: #CAD2D3;
}
INPUT[readonly], SELECT[readonly], TEXTAREA[readonly]
{
	background: #EEE;
	color: #777;
	border-color: #CCC;
}
/*INPUT:focus:invalid, TEXTAREA:focus:invalid, SELECT:focus:invalid
{
color: #B94A48;
border-color: #EE5F5B;
}
INPUT:focus:invalid:focus, TEXTAREA:focus:invalid:focus, SELECT:focus:invalid:focus
{
border-color: #E9322D;
}
INPUT[type=file]:focus:invalid:focus, INPUT[type=radio]:focus:invalid:focus, INPUT[type=checkbox]:focus:invalid:focus
{
outline-color: #E9322D;
}*/
SELECT
{
	border: 1px solid #CCC;
	background-color: #FFF;
}
SELECT[multiple]
{
	height: auto;
}
LABEL
{
	margin: 0.5em 0 0.2em;
}
FIELDSET
{
	margin: 0;
	padding: 0.35em 0 0.75em;
	border: 0;
}
LEGEND
{
	display: block;
	width: 100%;
	padding: 0.3em 0;
	margin-bottom: 0.3em;
	color: #333;
	border-bottom: 1px solid #E5E5E5;
}
.stacked INPUT[type=text], .stacked INPUT[type=password], .stacked INPUT[type=email], .stacked INPUT[type=url], .stacked INPUT[type=date], .stacked INPUT[type=month], .stacked INPUT[type=time], .stacked INPUT[type=datetime], .stacked INPUT[type=datetime-local], .stacked INPUT[type=week], .stacked INPUT[type=number], .stacked INPUT[type=search], .stacked INPUT[type=tel], .stacked INPUT[type=color], .stacked SELECT, .stacked LABEL, .stacked TEXTAREA
{
	display: block;
	margin: 0.25em 0;
}
.stacked INPUT:not([type])
{
	display: block;
	margin: 0.25em 0;
}
.aligned INPUT, .aligned TEXTAREA, .aligned SELECT, .aligned .help-inline, .message-inline
{
	display: inline-block;
	display: inline;
	/*zoom: 1;*/
	vertical-align: middle;
}
.aligned TEXTAREA
{
	vertical-align: top;
}
.aligned .control-group
{
	margin-bottom: 0.5em;
}
.aligned .control-group LABEL
{
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 10em;
	margin: 0 1em 0 0;
}
.aligned .controls
{
	margin: 1.5em 0 0 10em;
}
INPUT.input-rounded, .input-rounded
{
	border-radius: 2em;
	padding: 0.5em 1em;
}
.group FIELDSET
{
	margin-bottom: 10px;
}
.group INPUT
{
	display: block;
	padding: 10px;
	margin: 0;
	border-radius: 0;
	position: relative;
	top: -1px;
}
.group INPUT:focus
{
	z-index: 2;
}
.group INPUT:first-child
{
	top: 1px;
	border-radius: 4px 4px 0 0;
}
.group INPUT:last-child
{
	top: -2px;
	border-radius: 0 0 4px 4px;
}
.group BUTTON
{
	margin: 0.35em 0;
}
.input-1
{
	width: 100%;
}
.input-2-3
{
	width: 66%;
}
.input-1-2
{
	width: 50%;
}
.input-1-3
{
	width: 33%;
}
.input-1-4
{
	width: 25%;
}
.help-inline, .message-inline
{
	display: inline-block;
	padding-left: 0.3em;
	color: #666;
	vertical-align: middle;
	font-size: 0.875em;
}
.message
{
	display: block;
	color: #666;
	font-size: 0.875em;
}
#openmenu
{
	display: none;
	width: 10px;
	margin-left: -20px !important;
}
.aligned .control-group LABEL.error
{
	color: #FF0000;
	background-image: url(http://help.lexisnexis.com/tabula-rasa/lmola/US/en_US/images/IconNotValid-UserConfirmed.png);
	background-repeat: no-repeat;
	padding: 0 0 0 20px;
	width: auto !important;
	text-align: right !important;
	display: inline-block !important;
	float: initial;
	background-position: 2px 2px;
}
INPUT.error
{
	border: 1px solid #FF0000;
}
.aligned .control-group LABEL.error.checked
{
	background-image: url(http://www.dark-seo.com/render/img/valid_icon.png) !important;
	background-repeat: no-repeat;
	padding: 0 0 0 20px;
	text-align: left !important;
	float: initial;
	display: inline-block !important;
	/*[empty]background-position:;*/
}
#loginsmall
{
	display: none;
	float: right !important;
	margin: 0 !important;
	width: 59px;
}
@media only screen and (max-width: 1000px)
{
	#documentsmenu
	{
		display: none;
	}
	#openmenu
	{
		display: block;
	}
	.homecontents
	{
		width: 100% !important;
	}
	.sidebar
	{
		width: 100% !important;
	}
}
@media only screen and (max-width: 560px)
{
	#loginmenu
	{
		display: none;
	}
	#loginsmall
	{
		display: block;
	}
	#controlpanelmenu
	{
		width: 40px;
	}
}
@media only screen and (max-width: 480px)
{
	#logo IMG
	{
		margin: 5px 0 0;
		padding: 0;
		width: 200px;
	}
	BUTTON[type=submit]
	{
		margin: 0.7em 0 0;
	}
	INPUT:not([type]), INPUT[type=text], INPUT[type=password], INPUT[type=email], INPUT[type=url], INPUT[type=date], INPUT[type=month], INPUT[type=time], INPUT[type=datetime], INPUT[type=datetime-local], INPUT[type=week], INPUT[type=number], INPUT[type=search], INPUT[type=tel], INPUT[type=color], LABEL
	{
		margin-bottom: 0.3em;
		display: block;
	}
	.group INPUT:not([type]), .group INPUT[type=text], .group INPUT[type=password], .group INPUT[type=email], .group INPUT[type=url], .group INPUT[type=date], .group INPUT[type=month], .group INPUT[type=time], .group INPUT[type=datetime], .group INPUT[type=datetime-local], .group INPUT[type=week], .group INPUT[type=number], .group INPUT[type=search], .group INPUT[type=tel], .group INPUT[type=color]
	{
		margin-bottom: 0;
	}
	.aligned .control-group LABEL
	{
		margin-bottom: 0.3em;
		text-align: left;
		display: block;
		width: 100%;
	}
	.aligned .controls
	{
		margin: 1.5em 0 0;
	}
	.help-inline, .message-inline, .message
	{
		display: block;
		font-size: 0.75em;
		padding: 0.2em 0 0.8em;
	}
}
